html,
body {
	height: 100%;
	overflow: hidden;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/* Make blured edges invisible */
#sea {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: black;
	transform: translate3d(0, 0, 0);
	transform: scale(1.1)
}

p {
	text-align: justify;
}

.colpick {
	z-index: 100000;
}

h2 {
	font-size: 150%;
	font-weight: bold;
	color: black;
}

#close {
	color: red;
	float: right;
}

#close:hover {
	color: black;
	cursor: pointer;
}

#starten {
	float: right;
}

#dev {
	margin-top: 5px;
	float: left;
}

#myname {
	font-family: 'Audiowide', cursive;
	font-size: 110%;
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: none;
	color: #5555FF;
	cursor: pointer;
}

.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-6 {
	padding-left: 0px;
}